.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.photo-item {
    margin-top: 50px;
    width: 200px;
}

.photo-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.photo-img:hover {
    transform: scale(1.05);
}

.back-button {
    margin: 10px;
    position: absolute;
    top: 10px; 
    left: 10px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #45a049;
}
