.flexCenterVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flexCenterHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.smallContainer {
    width: 55%;
}
.mainContainer {
    width: 60%;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.flexColumn {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    margin-bottom: 10px;
}
.marginBottom20 {
    margin-bottom: 20px;
}
.marginBottom10 {
    margin-bottom: 10px;
}
.margin20 {
    margin: 16px;
}
.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.card {
    border: lightgray solid 1px;
    border-radius: 6px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mainLoginForm {
    padding: 15px;
    margin-top: 100px;
}
#mainLoginForm input {
    width: calc(90% - 50px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
#mainLoginForm button {
    width: calc(90% - 30px);
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #67b5fa;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#mainLoginForm button.create-account {
    background-color: #41ba29;
}
.separatorLine {
    background-color: rgb(219, 217, 217);
    width: 70%;
    height: 1px;
}
.logo {
    margin-bottom: 30px;
    height: 40px;
}
.lightGreyText {
    color: rgb(218, 218, 218);
}
.facebookBlueText {
    color: #3d5996;
}
.registerButton {
    padding: 5px 15px;
}
.appButton {
    margin: 7px;
    width: 100px;
    height: 35px;
}
.languageOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.languageOptions li {
    padding: 16px;
    word-spacing: 10px;
    
}
footer {
    width: 100%;
    margin-top: 50px;
    font-size: 14px;
    text-align: center; 
}
.lt {
    color: rgb(137, 137, 137);
    text-decoration: none;   
}
.ds {
    margin-top: 50px;
    margin-left: 20px;
}