<div class="album-details" *ngIf="album">
  <h2>Album Details</h2>
  <form>
    <div class="form-group">
      <label for="albumTitle">Album Title</label>
      <input id="albumTitle" [(ngModel)]="album.title" name="title" type="text" class="form-control"/>
    </div>
    <button type="button" class="back-button" (click)="saveAlbum()">Save</button>
  </form>
  <a class="photos-link" [routerLink]="['/albums', album.id, 'photos']">View Photos</a>
  <button class="back-button" routerLink="/albums">Back</button>
</div>

