<!-- about.component.html -->
<div class="about-container">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam augue ac arcu tincidunt consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi malesuada libero at leo hendrerit, vitae eleifend lorem vehicula.</p>
    <p>Nulla vitae ligula nec velit maximus fermentum. Fusce ultrices ante vel nunc hendrerit dapibus. Praesent faucibus sapien sit amet nisl tempor, eget efficitur velit placerat.</p>
    <div class="links-container">
        <a routerLink="/home">Home</a>
        <a routerLink="/albums">Albums</a>
    </div>
</div>
